/*Annette meny*/
body {
  margin: 0;
  padding: 0;
}
*{
    list-style: none;
    text-decoration: none;
}
nav {
    display: block;
    position: static;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #c4c4c4;
    background-color: #282b42;
}

nav ul{
  float: right;
  margin-right: 20px;
  list-style: none;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  list-style: none;
}
nav ul li a{
  font-size: 17px;
  font-weight: bold;
  color: white;
  padding: 7px 13px;
  border-radius: 3px;
  list-style: none;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    float: left;
    display: inline-block;
    position: relative;
    list-style: none;
    text-decoration: none;
}


li a:hover {
    color: #707070;
}


@media (max-width: 858px){

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }

}
@media (max-width:430px){
    nav ul li a {
        font-size: 13px;
        padding: 0;
    }
}

/*Annette meny*/

/*Markus*/
#Forside {
  height: 550px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 75px;
  background-color: #f55c45;
  display: flex;
}

#ForsideTekst {
  width: 50%;
  margin: 0 auto;
  margin-top: 110px;
  border-radius: 25px;
  padding: 30px;
  text-align: center;
}
.overskift {
  font-size: 70px;
  font-weight: bold;
  color: white;
  padding-top: 250;
  margin: 0px;
}

.overskift2 {
  font-size: 50px;
  margin: 0px;
  margin-left: 20px;
  color: white;
}
#ForsideTekst p {
  font-size: 20px;
  margin-left: 25px;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

#Product_info {
    width: 800px;
    margin: 0 auto;
  }
/*Markus*/

/*Okab*/
    .grid-container{
          height: 95%;
          width: 65%;
          padding-left: 500px;
          display: grid;
          font-style: italic;
          font-family: inherit

      }
      .grid-items1{
        height: 85%;
        padding-left: 30px;
        padding-top: 10px;
        border: 400px;
        color: red;
        float: right;
      }

      p {
        font-style: italic;
        font-family: serif;
         margin: 0px;
         border: 0px solid #999;

      }

      .grid-items2{
        border-radius: 10px;
        justify-content: left;
        align-items: left;
        float: left;
        padding-top: 0px;
        font-style: italic;
        font-family: sans-serif;
    }
    .grid-items2 span{
        color: rgb(45,45,45);
        font-size: 30px;
        text-transform: capitalize;
        font-family: 'Prompt', sans-serif;
    }
    .grid-items1 span{
        color: rgb(45,45,45);
        font-family: 'Prompt', sans-serif;
    }
    form {
      width: 300px;
    }
/*Okab*/


      /*Annette footer*/
      footer{
        background-color: #282b42;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 150px;
        font-weight: 900;
        margin-top: 30px;
        color: white;
        }
    footer a{
        color: white;
        text-decoration: none;
        transition: .15s;
        }
    footer a:hover{
        opacity: .2;
        }
        /*Annette footer
